<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Comparisons Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>	

<body>
	<div class="container-fluid">
    	<nav class="navbar navbar-inverse">
    		<div class="container-fluid">
            	<div class="navbar-header">
                	<a class="navbar-brand" href="./landing.html"><span class="energysource">Energy Sources in the US</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls=" navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	                    <span class="navbar-toggler-icon"></span>
	                </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
	              	<li>
	                	<a class="nav-link" href="./comparisons.html"><span class="c-d">Comparisons</a>
	             	</li>
	              	<li>
	                	<a class="nav-link" href="./data.html"><span class="c-d">Data</a>
	              	</li>
                </ul>
			</div>
        </nav>  
	        
	    <div class="content">
            <div class="container-fluid">
                <div class="row">
                	<div class="col-md-12">
                		<div class="box">
                    		<div class="header">
                    			<h1 class="title">Comparison: Green vs. Conventional Energy</h1>
	              				<p class="category">Click any plot to get in depth analysis.</p>
	              			</div>
                    		<div class="content">
                        		<div class="row">
                        			<div class="col-xs-12 col-sm-12 col-md-6">
	                					<h2>[Insert Title]</h2>
	              						<a href="./visualization1.html"><img class="img-fluid" src=alt="Insert Title" height="500" width="500"></a>
	           						</div>
	           						<div class="col-xs-12 col-sm-12 col-md-6">
	              						<h2>[Insert Title]</h2>
	              						<a href="./visualization2.html"><img class="img-fluid" src=alt="Insert Title" height="500" width="500"></a>
	           						</div>
	            					<div class="col-xs-12 col-sm-12 col-md-6">
	               						<h2>[Insert Title]</h2>
	               						<a href="./visualization3.html"><img class="img-fluid" src= alt="Insert Title" height="500" width="500"></a>
	            					</div>
	            					<div class="col-xs-12 col-sm-12 col-md-6">
	               						<h2>[Insert Title]</h2>
								 		<a href="./visualization4.html"><img class="img-fluid" src= alt="Insert Title" height="500" width="500"></a>
									</div>	 
	          					</div>
	          				</div>
	          			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="./assets/css/bootstrap.min.css" type="text/javascript"></script>
<script src="./assets/js/chartist.min.js"></script>
<script src="./assets/js/bootstrap-notify.js"></script>



</html>